.repV{
    width: 95%;
    float: right;
}
#cajacom{
    width: 95%;
    min-height: 100px;
    border-radius: 30px;
    background-color: rgba(41, 37, 90, 0.9);
    float: right;
    text-align: center;
    overflow: hidden;
}
#comentario{
    width: 90%;
    /*min-height: 9px;*/
    margin-top: 20px;
}

