#editimg{
    width: 20px;
    float: left;
}
.ed{
    float: left;
    /*border-style: inset;*/
    /*border-color: green;*/
    margin: 5px;
    /*text-align: center;*/
}
#edi{
    float: right;
}
.ContDatos{
    
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(41, 37, 90, 0.9);
    /*background-color:#651923;*/
    border-radius: 30px;
}
.datosusuario{
    margin: 0 auto;
    width: 80%;
    
}
#guardar{
    float: right;
}

@media screen and (max-width: 500px){
    .ContDatos{
        width: 90%;
    }
}