body{
    /*background-color: #29355a;*/
    background-image: url("Imagenes/fondo.jpg");
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    }
.encabezado {
    width: 100%;
    /*background-color:#651923;*/
    background-color: rgba(101, 25,35, 0.9);
    border-radius: 30px;
    height: 20%;
    margin: 0 auto;
}
#logo{
    width: 50%;
    height: 100%;
    z-index: 100;
    text-align: left;
    float: left;
    opacity:1;
}
.playimg{
    margin-top: 30px
}
#inicios{
    margin: 10px;
    float: right;
    color: white}
#titulo{
    /*text-decoration-style: wavy;
    text-decoration: underline;*/
    text-align: center;
    color: white;
    font-size: 800%;
    
}
.Evideo{
    width: 32%;
    height: 25%;
    /*background-color: #e06890; rosa*/
    /*background-color: #29355a; azul*/
    background-color: rgba(41, 37, 90, 0.9);
    text-align: center;
    border-radius: 30px;
    float: left;
    margin: 5px;
    box-sizing: border-box;
    
}
.Tvideos{
    margin: 0 auto;
    width: 100%;
    height: 80%;
    border-spacing: 10px; 
    box-sizing: border-box;
}
.menu{
    margin: 0 auto;
    border-radius: 30px;
    width: 100%;
    height: 30px;

    background-color: #257f1a;
    /*box-sizing: border-box;*/
}

.contenedor{
    width: 80%; 
    height: 1000px;   
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    /*border: 3px solid rebeccapurple;*/
    /*box-sizing: border-box;*/
}
#iniciosesion, #registro{
    
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color:#651923;
}
.datosusuario{
    margin: 0 auto;
    width: 80%;
    
}
@media screen and (max-width: 800px){
    .Evideo{
        width: 100%;
    }
    
}
@media screen and (max-width: 500px){
    #iniciosesion{
        width: 90%;
    }
     #registro{
        width: 90%; 
     }
}